<%- include('partials/header') -%>

<main class="p-1">
    <!-- navbar -->
    <nav class="d-flex  justify-content-md-end pt-3">
            <% if(user.admin){ %>
                <a href="/settings" class="text-decoration-none pe-3">settings</a>
                <% } %>
                <a href="/archive" class="text-decoration-none pe-3">archive</a>
                <a href="/logout" class="text-decoration-none pe-3">logout</a>
    </nav>

    <!-- Feed -->
    <section class="container-fluid">
        <h2>Hello <%= user.firstName %></h2>
        
        <div class="row">
        
            <div class="col-lg-6 col-xl-7 col-xxl-8 table-responsive">
                <!-- issues -->
                <table class="table table-hover table-bordered caption-top">
                    <caption>Issues</caption>
                <thead>
                    <tr>
                        <th scope="col">room number</th>
                        <th scope="col">issue</th>
                        <th scope="col">date</th>
                        <th scope="col">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addIssue">
                                add
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>

                <% for(let i=0; i < issues.length; i++){ %>
                    <tr>
                        <td><%= issues[i].roomNumber %></td>
                        <td><%= issues[i].text %></td>
                        <td><%= moment(issues[i].createdAt).format('MMMM Do YYYY, h:mm:ss a') %></td>
                        <td>
                            <a href="/removeIssue" class="text-decoration-none link-danger">remove</a> - <a href="/modifyIssue" class="text-decoration-none link-warning">modify</a> - <a href="issues/<%= issues[i].id %>" class="text-decoration-none link-info">see more</a></td>
                        </td>
                    </tr>
                <% } %>
                </tbody>
                </table>

                <!-- notes -->
                <table class="table table-hover table-bordered caption-top">
                    <caption>Notes</caption>
                    <thead>
                        <tr>
                            <th scope="col">note</th>
                            <th scope="col">date</th>
                            <th scope="col">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addnote">
                                    add
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0; i < notes.length; i++){ %>
                            <tr>
                                <td><%= notes[i].text %></td>
                                <td><%= moment(notes[i].createdAt).format('MMMM Do YYYY, h:mm:ss a') %></td>
                                <td>
                                    <a href="/removeNote" class="text-decoration-none link-danger">remove</a> - <a href="/modifyNote" class="text-decoration-none link-warning">modify</a> - <a href="/note/id" class="text-decoration-none link-info">see more</a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table> 
            </div>

            <div class="col-lg-6 col-xl-5 col-xxl-4 table-responsive">
                <!-- wakeup calls -->
                <table class="table table-hover table-bordered caption-top">
                    <caption>Wake up calls</caption>
                    <thead>
                        <tr>
                            <th scope="col">room number</th>
                            <th scope="col">wakeup time</th>
                            <th scope="col">guest name</th>
                            <th scope="col">notes</th>
                            <th scope="col">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addWakeUpCall">
                                    add
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0; i < wakeUpCalls.length; i++){ %>
                            <tr>
                                <td><%= wakeUpCalls[i].roomNumber %></td>
                                <td><%= moment(wakeUpCalls[i].wakeUpTime).format('MMMM Do YYYY, h:mm:ss a') %></td>
                                <td><%= wakeUpCalls[i].guestName %></td>
                                <td><%= wakeUpCalls[i].observations %></td>
                                <td>
                                    <a href="/removeWakeUpCall" class="text-decoration-none link-danger">remove</a> - <a href="/modifyWakeUpCall" class="text-decoration-none link-warning">modify</a> - <a href="wakeupcall/<%= wakeupcalls[i].id %>" class="text-decoration-none link-info">see more</a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                            
                <!-- taxis -->
                <table class="table table-hover table-bordered caption-top">
                    <caption>Taxis</caption>
                    <thead>
                        <tr>
                            <th scope="col">room number</th>
                            <th scope="col">pickup time</th>
                            <th scope="col">booking number</th>
                            <th scope="col">notes</th>
                            <th scope="col">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTaxi">
                                    add
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0; i < taxis.length; i++){ %>
                        <tr>
                            <td><%= taxis[i].roomNumber %></td>
                            <td><%= moment(taxis[i].pickUpTime).format('MMMM Do YYYY, h:mm:ss a') %></td>
                            <td><%= taxis[i].bookingNumber %></td>
                            <td><%= taxis[i].observations %></td>
                            <td>
                                <a href="/removeTaxi" class="text-decoration-none link-danger">remove</a> - <a href="/modifyTaxi" class="text-decoration-none link-warning">modify</a> - <a href="taxi/<%= taxis[i].id %>" class="text-decoration-none link-info">see more</a>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        
        </div>
    </section>

    <!-- add issue -->        
<div class="modal fade" id="addIssue" tabindex="-1" aria-labelledby="issueModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="issueModalLabel">Add an Issue</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" action="recordings/createIssue">
                <div class="mb-3">
                  <label for="roomNumber" class="col-form-label">Room number:</label>
                  <input type="number" class="form-control" id="roomNumber" name="roomNumber">
                </div>

                <div class="mb-3">
                    <label for="guestName" class="col-form-label">Guest Name:</label>
                    <input type="text" class="form-control" id="guestName" name="guestName">
                </div>

                <div class="mb-3">
                  <label for="text" class="col-form-label">Issue:</label>
                  <textarea class="form-control" id="text" name="text"></textarea>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
        </div>
      </div>
    </div>
</div>

<!-- add note -->
<div class="modal fade" id="addNote" tabindex="-1" aria-labelledby="noteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="noteModalLabel">Add a Note</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" action="recordings/createNote">
                <div class="mb-3">
                  <label for="text" class="col-form-label">Note:</label>
                  <textarea class="form-control" id="text" name="text"></textarea>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
        </div>
      </div>
    </div>
</div>

</main>

<%- include('partials/footer') -%>