<%- include('partials/header') -%>

<main class="p-2">

    <!-- navbar -->
    <nav class="d-flex justify-content-md-end pt-3 ">    
        <a href="/feed" class="text-decoration-none pe-3">Feed</a>
        <a href="/archive" class="text-decoration-none pe-3">archive</a>    
        <a href="/logout" class="text-decoration-none pe-3">logout</a>
    </nav>

    <section class="w-75 m-auto">
        <h2>Hello <%=user.firstName%></h2>

        <h3><%=user.company%></h3>

        <div>
            <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %> <% } %> <% if (locals.messages.info) { %> <%
                messages.info.forEach( el => { %>
                <div class="alert alert-info"><%= el.msg %></div>
            <% }) %> <% } %>
            <table class="table table-hover table-bordered caption-top">
                <caption>Users</caption>
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Admin Permits</th>
                    <th scope="col">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUser">
                            add
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>

            <% for(let i=0; i < users.length; i++){ %>
                <tr>
                    <td><%= users[i].firstName %></td>
                    <td><%= users[i].lastName %></td>
                    <td><%= users[i].email %></td>
                    <td><% if(users[i].admin){%> Yes <% }else{%> No <% } %></td>
                    <td>
                        <form 
                            action="users/deleteUser/<%=users[i].id%>" 
                            method="post"
                            class="removeForm"
                        >
                            <input type="hidden" name="_method" value="put">
                            <input type="submit" value="remove" class="btn btn-link text-decoration-none link-danger">
                        </form> - 
                        <a href="users/modifyUser/<%=users[i].id%>" class="text-decoration-none link-warning">modify</a> - 
                        <a href="users/<%= users[i].id %>" class="text-decoration-none link-info">see more</a></td>
                    </td>
                </tr>

            <% } %>
            </tbody>
            </table>
        </div>
    </section>

    <div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="userModalLabel">Add a User</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form method="post" action="users/createUser">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" name="firstName" id="firstName" class="form-control">
                    </div>
    
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" name="lastName" id="lastName" class="form-control">
                    </div>
        
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" name="email" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" id="password" class="form-control">
                    </div>
        
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control">
                    </div>

                    Admin permits:
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="admin" id="adminYes" value='true'>
                        <label class="form-check-label" for="adminYes">
                          Yes
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="admin" id="adminNo" value='false' checked>
                        <label class="form-check-label" for="adminNo">
                          No
                        </label>
                      </div>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                  </form>
            </div>
          </div>
        </div>
    </div>
</main>

<%- include('partials/footer') -%>