<%- include('partials/header') -%>

<main class="vertical-center">
    <div class="container">
        <h2>Modify Taxi for room <%=taxi.roomNumber%></h2>

        <form action="<%=taxi.id%>" method="post" class="p-3 border rounded bg-light">
            <input type="hidden" name="_method" value="put">
            
            <div class="mb-3">
                <label for="roomNumber" class="col-form-label">Room number:</label>
                <input type="number" class="form-control" id="roomNumber" name="roomNumber" value="<%=taxi.roomNumber%>">
            </div>

            <div class="mb-3">
                <label for="pickUpTime" class="col-form-label">Pick up time:</label>
                <input type="datetime-local" class="form-control" id="pickUpTime" name="pickUpTime" value="<%=taxi.pickUpTime%>">
            </div>

            <div class="mb-3">
                <label for="bookingNumber" class="col-form-label">Booking number:</label>
                <input type="number" class="form-control" id="bookingNumber" name="bookingNumber" value="<%=taxi.bookingNumber%>">
            </div>

            <div class="mb-3">
                <label for="observations" class="col-form-label">observations:</label>
                <textarea class="form-control" id="observations" name="observations"><%=taxi.observations%></textarea>
            </div>

            <div class="d-grid justify-content-md-end">
                <div>
                    <a href="/feed" class="btn btn-secondary pe-2">Close</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>

        </form>
    </div>
</main>



<%- include('partials/footer') -%>